@model IEnumerable<LayoutView.Models.Student>

@{
    ViewBag.Title = "List of Student";
    Layout = "~/Views/Shared/MainLayout.cshtml";
}

<h2>Index</h2>
@section Menu {
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Course)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GPA)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Course)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GPA)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Regno }) |
                @Html.ActionLink("Details", "Details", new { id = item.Regno }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Regno })
            </td>
        </tr>
    }

</table>
